.logo {
    max-width: 175px;
}

/* body {
    padding-top: 115px;
} */

.img-carosel {
    max-height: 680px;
}

link {
    font-size: 1.3em !important;
}

a {
  color: #151f5b !important;
}

.box-shadow {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .05), 0 4px 8px 0 rgba(0, 0, 0, .05);
}

#home-quote {
    background: url('../img/spain.jpg') center center;
    background-size: cover;
    min-height: 260px;
}

.img-slide {
    background-size: cover;
}

.lista-plano li+li {
    border-top: 1px solid rgba(0, 0, 0, .2);
}

.lista-plano li {
    padding: 1rem;
}

.bg-blue {
    background: #151f5b;
}

.font-blue {
    color: #151f5b !important;
}

.bg-yellow {
    background: rgb(222, 201, 43) !important;
}

.bg-dark {
    background-color:rgba(255, 182, 0, .75);
}

#line {
    background-color: #151f5b;
    height: 6px;
}

#line-yellow {
    background-color: rgba(255, 182, 0, .75);
    height: 6px;
}

.img-center {
    max-height: 100px;
    position: absolute;
    left: 43%;
}

item-menu {
    color: #000 !important;
}

.item-menu:hover {
    text-decoration: none;
    font-weight: bold;
}